* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Roboto, Lato, Helvetica, Arial, sans-serif;
  color: #030303;
}

html,
body,
#root,
.app {
  min-height: 100vh;
  width: 100%;
}

.app {
  display: flex;
  overflow: hidden;
}

aside {
  width: 250px;
}

.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  padding: 10px 0;
  background: white;
  box-shadow: 10px 0 5px -2px  rgba(0, 0, 0, 0.25);
  border: 1px solid white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

h2 {
  font-weight: bold;
  color: #F97D7D;
}

.topbar {
  background: #F97D7D;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 60px;
  display: flex;
  justify-content: center;
}

.topbar-span {
  float: left;
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3vh;
}

.shape {
  margin: 10px;
  height: 100px;
  width: 150px;
  border: solid 2px #F97D7D;
  background-color: #F97D7D;
}

.circle {
  width: 100px;
  border-radius: 50%;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  padding: 10px 0;
  background: white;
  box-shadow: -2px 0 5px 2px  rgba(0, 0, 0, 0.25);
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.properties {
  margin-top: 10px;
}

.key {
  color: #F97D7D;
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  height: 25px;
}

.value {
  color: #F97D7D;
  font-weight: bolder;
}

.no-data {
  color: grey;
}

.canvas {
  width: calc(100% - 200px);
  border: solid 1px lightgray;
  border-top: none;
  border-bottom: none;
  position: relative;
}

.buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.buttons button {
  margin: 10px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  background: #F97D7D;
  transition: all 0.25s ease-in;
  z-index: 10;
  padding: 0 8px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 2vh;
  color: white;
}

.buttons button:hover {
  background: #f36666;
}